{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django Aplication</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, impedit? Sed mollitia animi dolores inventore modi quidem. Reprehenderit harum nemo incidunt vitae cupiditate atque temporibus ipsam dicta possimus impedit molestias architecto quos eius voluptates, iste neque odit molestiae optio nulla sunt accusantium. Ratione asperiores magnam tenetur dolor quos! Officiis tempore, iusto soluta, cum quidem hic explicabo ducimus sint ipsa nemo dolore voluptates? Ipsum, quas at minus excepturi, ipsa nihil maxime ut voluptatem similique mollitia ab provident sint quam debitis neque, quisquam a modi hic eveniet fugit repellat quibusdam. Corporis aspernatur id beatae ullam, rem vitae. Voluptatibus harum expedita quos similique?</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/" >Signin</a>
            <a class="btn btn-secondary" href="/signup/" >Signup</a>
        </div>
    </section>   
</main>

{% endblock %}